
<div class="title"><h1> 3 Anos de GuLa! </h1></div> 

<br>

 <div id="timer">
   <div id="days"></div>
   <div id="hours"></div>
   <div id="minutes"></div>
   <div id="seconds"></div>
 </div>

<br>

<div id="comentario-title"><a href="#comentar"id="button">Clique aqui para deixar seu comentário</a><br><span class="small-title">Prometemos que vamos ler todos rs</span></div>
<br>
<% @comentarios.each do |comentario| %>
    <% if !comentario.desc.blank? %>
        <div class="comentario">
            <div class="conteudo"><p><%= comentario.desc %><br>
            <span class="autor">Por: <% if comentario.name.blank? %> Anônimo <% else %><%= comentario.name %><% end %></span></p></div>
        </div>
    <% end %>
<% end %>

<%= form_for(@comentario) do |f| %>
  <div id="comentar">
      <div class="field">
        Comentário
        <%= f.text_field :desc %>
      </div>
        <br>
      <div class="field">
        Seu nome
        <%= f.text_field :name %>
      </div>
        <br>
      <div class="actions">
        <%= f.submit "Comentar", id: "botao"%>
      </div>
  </div>
<% end %>

<script>
    function makeTimer() {

			var endTime = new Date("August 08, 2017 23:59:59 GMT -3");			
			var endTime = (Date.parse(endTime)) / 1000;

			var now = new Date();
			var now = (Date.parse(now) / 1000);

			var timeLeft = endTime - now;

			var days = Math.floor(timeLeft / 86400); 
			var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
			var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
			var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

			if (hours < "10") { hours = "0" + hours; }
			if (minutes < "10") { minutes = "0" + minutes; }
			if (seconds < "10") { seconds = "0" + seconds; }

			$("#days").html(days + "<span>Dias</span>");
			$("#hours").html(hours + "<span>Horas</span>");
			$("#minutes").html(minutes + "<span>Minutos</span>");
			$("#seconds").html(seconds + "<span>Segundos</span>");		

	}

	setInterval(function() { makeTimer(); }, 1000);
</script>